.form{
    background-color: #fff;
  }
.form >.part_head{
    color:#333333;
}


.form > form > p > input{
    padding: 10px 270px 10px 5px;
    border: 1px solid #747474;
    background-color: #fff;
    color: #333333;
  }

  .form > .price_button{
    margin-bottom: 99px;
  }